.headline-text{
    span{
        position: relative;
        z-index:1;
        &:after {
            background-color: $yellow;
            content:"";
            margin: 0 auto;
            position: absolute;
            top: 50%; left: 50%; right: 0; bottom: 0;
            transform: translateX(-50%);
            z-index: -1;
            width: 106%;
        }
    }
}
