#p5s1{
    height: 380px;
    background-color: $grey;
    background-image: url("../images/bg-about-title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
}

#p5s2{
    background-color:#093BCA;
    .bg-about-page{
        background-image: url(../images/bg-about-page.png);
        background-repeat: no-repeat;
        background-position: 41% 31%;
        height: 400px;
        overflow: hidden;
    }
    .text-mindful{
        padding: 0 8%;
        color: #fff;
        margin: 7% 0;
        p{
            font-size: 1.6rem;
        }
    }
}

#p5s3{
    background-color: #F8168C;
    padding-top: 7%;
    padding-bottom: 6%;
    background-image: url(../images/bg-about-sec-2.png);
    background-repeat: no-repeat;
    height: 530px;
    position: relative;
    .info-box{
        margin-top: 8%;
        color: #001A65;
        .mindful-text{
            width: 69%;
            h2{
                font-size: 1.5rem;
            }
        }
        .yellow-line1{
            border-top: 14px solid #F9FF2F;
            width: 232px;
            opacity: 1;
            margin-top: -22px;
        }

    }
    .element-1{
        background-image: url(../images/float-bottom-about.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 10%;
        height: 100px;
        z-index: 2;
        bottom: -10%;
        left: 25%;
    }
    .address-contact-wrapper{
        width: 80%;
        margin-top: 49px;
        h2{
            font-size: 1.3rem;
        }
        p{
            font-size: 0.9rem;
        }
        .address{
            width: 33%;
        }
        .yellow-line2{
            border-top: 14px solid #F9FF2F;
            width: 107px;
            opacity: 1;
            margin-top: -21px;
        }
        .yellow-line3{
            border-top: 14px solid #F9FF2F;
            width: 100px;
            opacity: 1;
            margin-top: -22px;
        }
      
     
    }
    .name-box,.email-box,.message-box{
        color: #C1C1C1;
        background-color: $white;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        opacity: 1;
        width: 572px;
        padding: 10px 0;
        margin: 15px 0;
        p{
            margin: 0;
            padding-left: 15px;
        }
    }
    .message-box{
       padding: 10px 0 100px 0;
    }

    .submit-button{
        width: 12%;
        text-align: center;
        color: #001A65;
    }
    
}

@media (max-width: 1024px){
    #p5s2 {
        .text-mindful{
            margin: 9% 0;
            p {
            font-size: 1.4rem;
            } 
        }
        
    }
        
    #p5s3{
        .name-box, .email-box,.message-box{
            width: 432px;
        }
    }
}

@media (max-width: 768px){
        
    #p5s3{
        .name-box, .email-box,.message-box{
            width: 348px;
        }
    }
}

@media (max-width: 500px){
    #p5s2 {
        .text-mindful{
            margin: 9% 0;
            p {
            font-size: 1rem;
            } 
        }
        
    }

    #p5s3{
        height: auto;
        .info-box{
            .mindful-text, .address-contact-wrapper, .address{
                width: 100%;
            }
            .address-contact-wrapper{
                margin-top: 0;
            }
        }
        .submit-button {
            width: 34%;
        }
        .button-yellow{
            margin: 0;
        }
        .name-box, .email-box,.message-box{
            width: 348px;
        }
    }
}

@media (max-width: 360px){
        
    #p5s3{
        .name-box, .email-box,.message-box{
            width: 290px;
        }
    }
}