#p4s1{
    height: 580px;
    background-color: $grey;
    margin-bottom: 5%;
}

#p4s2{
    .box{
        padding: 0 13%;
        margin-bottom: 5%;
    }
    .headline{
        h2{
            width: 72%;
            line-height: 47px;
        }
    }
    .yellow-line1{
        border-top: 24px solid #F9FF2F;
        width: 531px;
        opacity: 1;
        margin-top: -22px;
    }
    .yellow-line2{
        border-top: 24px solid #F9FF2F;
        width: 263px;
        opacity: 1;
        margin-top: -33px;
    }
    .passage-text{
        margin-top: 5%;
        p{
            width:100%;
        }
    }
    .social-media{
        a{
            text-decoration: none;
            color:#07041F;
            padding: 0 6px;
            padding-top: 2px;
        }
        p{
            padding-left: 5px;
            margin-bottom: 7px;
        }
    }
}

#p4s3{
    .box{
        padding: 0 13%;
        margin-bottom: 5%;
    }

    .artist-box{
        height: 191px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .image-1{
        background-image: url("../images/artist-ex-1.jpg");
    }
    .image-2{
        background-image: url("../images/artist-ex-2.jpg");
    }
    .image-3{
        background-image: url("../images/artist-ex-3.jpg");
    }
    .image-4{
        background-image: url("../images/artist-ex-4.jpg");
    }
    .image-5{
        background-image: url("../images/artist-ex-5.jpg");
    }
    .image-6{
        background-image: url("../images/artist-ex-6.jpg");
    }
    .image-7{
        background-image: url("../images/artist-ex-7.jpg");
    }
    .image-8{
        background-image: url("../images/artist-ex-8.jpg");
    }
}

@media (max-width: 768px){
    #p4s2{
        .yellow-line1{
            display: none;
        }
        .yellow-line2{
            display:none;
        }
    }
    #p4s3{
        .artist-box{
            height: 146px;
        }
    }
}

@media (max-width: 500px){
    #p4s2{
        .headline{
            h2{
                width: 100%;
            }
        }
        .yellow-line1{
            display: none;
        }
        .yellow-line2{
            display: none;
        }

    }
    #p4s3{
        .artist-box{
            height: 278px;            
        }
    }
}