body{
    font-family: $font-poppins!important;
    
}

input[placeholder]::-webkit-input-placeholder {
    color: #c1c1c1;
}
input[placeholder]::-moz-input-placeholder {
    color: #c1c1c1;
}
input[placeholder]::-ms-input-placeholder {
    color: #c1c1c1;
}
input[placeholder]::-moz-input-placeholder {
    color: #c1c1c1;
}

#section1{
    position: relative;
    .bg-pink{
        background-image:url("../images/banner-sec.jpg");
        background-color: $grey;
        width: 100%;
        height: auto;
        padding:76px 15px;
    }
    .headline{
        text-align: center;
        h2{
            font-style: bold;
            font-size: 1.75rem;
            color: #07041F;
            text-shadow: 0px 5px 8px #F732B54D;
            opacity: 1;
        }
        h1{
            font-style:$bold;
            text-shadow: 0px 5px 8px #F732B54D;
            opacity: 1;
            font-size: 3.55rem;
        }
        .headline-text{
            padding-bottom: 60px;
        }
        .yellow-line{
            border-top: 15px solid $yellow;
            margin: auto;
            width: 272px;    
            opacity: 1;  
            margin-top: -22px;      
        }
        .pink-line{
            border-top: 32px solid $pink1;
            margin: auto;
            width: 572px; 
            opacity: 1;  
            margin-top: -41px;   

        }
        .h2-box{
            margin-bottom: 11px;
        }

        .button-yellow{
            margin: 5%;
        }
    }
}

#section2{
    position:relative;
    .bg-pink{
        background-color: $pink1;
        height: auto;
        padding: 0 15px 60px 15px;
    }
    .element1{
        background-image:url("../images/float-left-artist.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 2;
        top: -105px;
    }
    .element2{
        background-image: url(../images/float-right-artist.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 50%;
        height: 300px;
        z-index: 2;
        right: 0;
        top: -105px;
        background-position: 90%;

    }
    .bg-artist{
        background-image:url("../images/bg-artist-sec.png");
        background-position: 184% 100%;
        background-repeat: no-repeat;
    }
    .title-section2{
        padding-top:10%;
        text-align: center;
        padding-bottom: 47px;
    }
    .artist-box{
        height: 321px;

        .box-bg{
            width: 100%;
            height: 100%;
            background-size: cover;
            position: relative;
        }

        .box-hover {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 100%;
        }

        a {
            &:hover {
                .box-hover {
                    display: block;
                } 
            }
        }
    }
    .artist-box-margin{
        margin: 0 141px;

        
    }

    .yellow-line{
        border-top: 24px solid #F9FF2F;
        margin: auto;
        width: 189px;
        opacity: 1;
        margin-top: -26px;   
    }
    
        
}

#section3{
    background-color:$black;
    background-image:url("../images/bg-event-page.png");
    background-position: 25% -12%;
    background-repeat: no-repeat;
    background-size: cover;
    
    .provider{
        font-family: "Gloss And Bloom", sans-serif !important;
        color: rgba(255, 255, 255, 0.2);
        font-size: 9rem;
        margin-top: -9.5%;
    }

    .headline-text{
        color: $pink1;
        font-size: 2rem;
        text-align: center;
        padding-top: 16%;
    }   
    .subhead-text{
        padding-top: 7%;
    } 
    .yellow-line{
        border-top: 24px solid #F9FF2F;
        margin: auto;
        width: 357px;
        opacity: 1;
        margin-top: -30px;
    }
    .subhead-text{
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }
    .month-year{
        color: $yellow;
        font-size: 1.8rem;
    }
    .link{
        cursor: pointer;
        font-size: 1rem;
        color: $grey;
        padding-top: 10px;
        a{
            color:#CBCBCB;
            text-decoration: none; 
        }
    }
    .party-info{
        display: flex;
        justify-content: space-around;
        padding: 0 15px;
        margin-top: 6%;
    }
    .date{
        margin-top: 13px;
        color:$white;
        max-width: 20px;
        text-align: center;
    }
    .details{
        display: flex;
        justify-content: space-between;
        color: $grey;
    }
    .pink{
        color: $pink1;
        font-size: 1.4rem;
        margin-top: -6px;
    }
    .small-detail{
        font-size: 0.9rem;
        line-height: 0.7;
        margin-top: -9px;

    }
 
    .image-small{
        width: 100px;
        height: 75px;
        background-size: cover;
        margin-right: 18px;
    }
    .img1{
        background-image:url("../images/event-ex-1.jpg");
    }
    .img2{
        background-image:url("../images/event-ex-2.jpg");
    }
    .img3{
        background-image:url("../images/event-ex-3.jpg");
    }
    .img4{
        background-image:url("../images/event-ex-4.jpg");
    }
    .img5{
        background-image:url("../images/event-ex-5.jpg");
    }
  
    .time{
        padding-top: 27px;
        color: $grey;
    }
    .place{
        padding-top: 27px;
        color: $grey;
    }
    .tags{
        color: $pink1;
        border: 1px solid $pink1;
        width: 100px;
        height: 35px;
        text-align: center;
        margin-top: 20px;
        border-radius: 2px;
        opacity: 1;
        p {
            padding-top: 6px;
        }
    }
    .details-button{
        padding-top: 27px;
        margin: 16px 0 0 0;
        padding: 12px;
    }
    .grey-line{
        border-top: 2px solid rgba(255,255,255,0.2);
        margin: auto;
        width: 100%;
        opacity: 1;
        margin-top: 34px;
    }
   .viewall{
    margin-top: 9% !important;
    margin-bottom: 7% !important;
    width: 180px !important;
   }
}

@media (max-width: 780px) {
    #section2{ 
        .artist-box{
            height: 320px;
        }
    }
    #section3{
        .date{
            margin-top: 15px;
            color: #fff;
            max-width: 8%;
            text-align: center;
        }
        .image-small{
            width: 100px;
            height: 64px;
            background-size: cover;
            margin-right: 15px;
            margin-top: 16px;
        }
        .pink{
            font-size: 1rem;
            margin-top: 16%;
        }
        .small-detail{
            line-height: 1.2;
            margin-top: -9px;
            p{
                font-size:0.5rem;
                margin: 0;
            }
        }
        .time{
            font-size: 0.7rem;
            width: 9%;
        }
        .place{
            font-size: 0.7rem;
            width: 10%;

        }
        .tags{
            font-size: 0.7rem;
            border: 1px solid #F732B5;
            width: 72px;
            height: 32px;
            text-align: center;
            margin-top: 28px;
            border-radius: 2px;
            opacity: 1;
        }
        .details-button{
            padding-top: 27px;
            margin: 23px 0 0 0;
            padding: 12px;
        }
        .button-yellow{
            width: 122px;
        }
    }
}
    
@media (max-width: 375px) {
    #section1{
        .headline{
            .pink-line{
                width: 100%;
            }
        }
    }
    #section3 {
        .date, .image-small, .details-info, .details-button{
            width: 33.33%;
        }
    }

}