#p3s1{
    background-image: url("../images/bg-artist-title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    background-color: $grey;
    position:relative;
}

#p3s2{
    background-color: #FCFCFC;
    position:relative;
    padding-top: 10%;
    .element-triangle{
        background-image: url(../images/float-left-artist-page.png);
        background-repeat: no-repeat;
        background-position: 8% 2%;
        position: absolute;
        top: 20%;
        width: 100%;
        height: 279px;
        z-index: 2;
        top: 3%;
    }
    .element-square{
        background-image: url(../images/float-right-artist-page.png);
        background-repeat: no-repeat;
        background-position: 91% 163%;
        position: absolute;
        top: 20%;
        width: 100%;
        height: 279px;
        z-index: 2;
        top: 6%;
    }
    .listing{
        font-family: "Gloss And Bloom", sans-serif !important;
        font-size: 7rem;
        margin-top: -13.5%;
        color: #E8E8EA;
        z-index: -2;
    }
    .type-song{
        margin-bottom: 49px;
        li{
            list-style-type: none;
            padding: 0 15px;
            color: #736F95;
            &.active{
                color: $pink1;
                text-decoration: underline;
            }
        }
    }
    .artist-box{
        height: 321px;

        .box-bg{
            width: 100%;
            height: 100%;
            background-size: cover;
            position: relative;
        }

        .box-hover {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 100%;
        }

        a {
            &:hover {
                .box-hover {
                    display: block;
                } 
            }
        }
    }
    
    .choose-page{
        ul{
            margin-top: 4%;
            padding-bottom: 6%;
            margin-bottom:0;
        }
        li{ 
            padding: 2px 12px;
            color:$black;
            list-style: none;
            &.active{
                background-color: $pink1;
                width: auto;
                border-radius: 5px;
                opacity: 1;
            }
        }
    }
    .artist-listing-text{
        color: $pink1;
        font-size: 2.5rem;  
        text-align: center;  
        position: relative;
        z-index:2;
    }
    .yellow-line{
        border-top: 24px solid #F9FF2F;
        margin: auto;
        width: 320px;
        opacity: 1;
        margin-top: -25px;
        margin-bottom: 7%;
        position: relative;
    }
    .find-artist{
        width: 17%;
        margin-left: 47px;
        margin-bottom: 27px;
        h2{
            font-size: 1.5rem;
            padding-left: 4%;
        }
    }
    .search-artist{
        color: #CBCBCB;
        width: 20%;
        margin-left: -21px;
        margin-top: 2px;
        i{
            padding-right: 11px;
        }
        p{
            margin: 0;
        }
        .grey-line{
            border-top: 2px solid #CBCBCB;
            width: 250px;
            opacity: 1;
        }
    }
 
}