#p4s1{
    height: 580px;
    background-color: $grey;
    margin-bottom: 5%;
}

#p4s2{
    .box{
        padding: 0 13%;
        margin-bottom: 5%;
    }
    .headline{
        h2{
            width: 72%;
            line-height: 47px;
        }
    }
    .yellow-line1{
        border-top: 24px solid #F9FF2F;
        width: 531px;
        opacity: 1;
        margin-top: -22px;
    }
    .yellow-line2{
        border-top: 24px solid #F9FF2F;
        width: 263px;
        opacity: 1;
        margin-top: -33px;
    }
    .passage-text{
        margin-top: 5%;
        p{
            width:100%;
        }
    }
    .social-media{
        a{
            text-decoration: none;
            color:#07041F;
            padding: 0 6px;
            padding-top: 2px;
        }
        p{
            padding-left: 5px;
            margin-bottom: 7px;
        }
    }
}

#p4s3{
    .box{
        padding: 0 13%;
        margin-bottom: 5%;
    }

    .artist-box{
        border: 1px solid black;
        height: 191px;
    }
}