body{
    overflow-x:hidden;
}

#service1{
    background-color: grey;
    height: 380px;
    background-image:url("../images/bg-service-title.png");
    background-position: center center;
    background-repeat: no-repeat;
}

#service2{
    padding: 4%;
    position: relative;
    .element-triangle{
        position: absolute;
        width: 53px;
        height: 65px;
        background-image: url(../images/triangle-element.png);
        background-repeat: no-repeat;
        bottom: 4%;
    }
    .element-square-blue{
        position: absolute;
        width: 156px;
        height: 225px;
        background-image: url(../images/float-right-artist.png);
        background-repeat: no-repeat;
        top: -13%;
        left: 6%;
    }
    .element-square-dark-blue{
        position: absolute;
        width: 319px;
        height: 322px;
        background-image: url(../images/dot-element.png);
        background-repeat: no-repeat;
        top: -13%;
        right: -10%;
    }
    .element-line{
        position: absolute;
        width: 111px;
        height: 139px;
        background-image: url(../images/wavy-line.png);
        background-repeat: no-repeat;
        bottom: 3%;
        right: 3%;
    }
    .element-triangle-yellow{
        position: absolute;
        bottom: 5%;
        right: 48.5%;
        width: 0;
        height: 0;
        border-top: 91px solid transparent;
        border-bottom: 167px solid yellow;
        border-left: 146px solid transparent;
        border-right: 104px solid yellow;
    }
  
    .video-box{
        width: 529px;
        height: 558px;
        background-color: white;
        background-image: url("../images/service-vid-img.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        .icon-wrapper{
            width: 100%;
            margin-top: 37%;
            text-align: center;
        }
        i{
            font-size: 6rem;
            width: 18%;
            color: white;
            background-color: #F732B5;
            border-radius: 50px;
        }
    }
    .service-wrapper{
        margin-top: 15%;
        margin-left: 16%;
        width: 100%;
    }
    .service-info{
        h2{
            font-size: 3rem;
            width: 50%;
        }
        p{
            width: 85%;
        }
    }
    .phone-wrapper{
        width: 100%;
        .phone-icon{
            width: 89px;
            height: 87px;
            background-image: url("../images/phone-icon.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
        .phone-info{
            color:$pink1;
            width: 50%;
            margin-top: 3%;
            margin-left: 6%;
            .number{
                font-size: 1.7rem;
            }
        }
    }
}

#service3{
    background-image: url(../images/bg-service-sec.png);
    background-repeat: no-repeat;
    background-position: 0% 43%;
    background-color: #F732B5;
    padding: 5% 0;
    h2{
        text-align: center;
        margin-top: 2%;
        margin-bottom: 9%;
    }
    .info-box{
        height: 386px;
        background-color: white;
        padding: 3px;
        .logo  {
            background-repeat: no-repeat;
            width: 132px;
            height: 124px;
            margin: 13% auto 4% auto;
        }
        .icon1{
            background-image: url("../images/event-icon.png");
        }
        .icon2{
            background-image: url("../images/market-icon.png");
        }
        .icon3{
            background-image: url("../images/concert-icon.png");
        }
        p{
            margin: 0 4%;
            text-align: center;
        }
    }
}

@media (max-width: 768px){
    #service2{
        .service-info{
            h2{
                font-size: 3rem;
                width: 89%;
            }
        }
        .element-triangle-yellow{
            bottom: 7%;
        }
        .video-box{
            margin-top: 88px;
            width: 529px;
            height: 435px;
        }
        .icon-wrapper{
            i{
                width: 30%;
            }
        }
        .phone-wrapper{
            .phone-info {
                color: #F732B5;
                width: 70%;
                margin-top: 3%;
                margin-left: 6%;
             }
        }
    }
    #service3{
        .info-box{
            height: 339px;
            p{
                margin: 0 3%;
                font-size: 0.9rem;
            }
        }
    }
}

@media (max-width: 500px){
    #service2{
        .video-box{
            height: 361px;
            margin-top: 25px;

        }
        .service-wrapper{
            margin-top: 13%;
            margin-left: 1%;
        }
        .service-info{
            h2,p{
                width: 94%;
                margin: 6% 0;

            }

        }
        .element-line,.element-square-blue,
        .element-square-dark-blue,.element-triangle-yellow,
        .element-triangle{
            display:none;
        }
    }
    #service3{
        h2{
            margin: 9% 0;
        }
        .info-box{
            margin-top: 8px;
        }
    }
}

@media (max-width: 350px){
    #service2{
        .service-info{
            h2{
                font-size: 2.4rem;
            }
        }
        .phone-wrapper .phone-info .number {
            font-size: 1.4rem;
        }
        .phone-wrapper .phone-icon {
            width: 101px;
            height: 83px;
        }
    }
}