#signup{
    background-color: $yellow;
    background-image: url("../images/bg-signup-sec.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 44%;

    .uploadpic{
        background-color: grey;
        width: 350px;
        height: 350px;
        margin: auto;
        position: relative;
    
        label{
            display: block;
            max-width: 200px;
            margin: 0 auto 15px;
            text-align: center;
            word-wrap: break-word;
            color: #1a4756;
        }

        .hidden, #uploadImg:not(.hidden) + label{
            display: none;
        }

        #file{
            display: none;
            margin: 0 auto;
        }

        #upload{
            i{
                font-size: 6rem;
                color: #E8E8E8;
            }
            text-align: center;
            width: 350px;
            height: 350px;
            display: block;
            padding: 10px 25px;
            border: 0;
            margin: 0 auto;
            font-size: 1rem;
            letter-spacing: 0.05em;
            cursor: pointer;
            background: $white;
            color: #fff;
            outline: none;
            transition: .3s ease-in-out;
            &:active{
                background: #13D4C8;
                transition: .1s ease-in-out;
            }
        }
        img{
            display: block;
            height: 350px;
            width: 350px;
        }
    }
    .upload-wrapper{
        padding: 50px 0;
        p{
            margin-bottom:0;
            color: #07041F;
        }
    }
    .red{
        color: red;
    }

    .closed-button{
        cursor: pointer;
        position: relative;
        width: 100%;
        display: block;
        .fa, .fas {
            background-color: white;
            border-radius: 50%;
            color: $pink1;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 25px;
            position: absolute;
            top: -13px;
            right: -12px;
        }
    }

    .form-wrapper {
        span {
            height: 23px;
        }
        .col-12 {
            &:nth-child(odd) {
                padding-right: 25px;
            }
            &:nth-child(even) {
                padding-left: 25px;
            }
        }
    }
    .form-check-wrap{
        color: black;
    }
    .form-check-inline .form-check-input {
        position: static;
        margin-top: -3px;
        margin-right: .3125rem;
        margin-left: 0;
    }
    .message-box{
        .form-control{
            height: calc(9.5em + .75rem + 2px);
            align-self: start;
        }
    }
    .button-yellow{
        background-color: $pink1;
        width: 184px;
        color: white;
        margin: auto;
    }
    .check-box{
        width: 100%;
        margin-bottom: 16px;
    }

    .notify-text{
        display: none;
        margin: -8px 0 14px;
        color: red;
        font-size: 0.8rem;
    }
}

@media (max-width: 500px){
    #signup{
        .form-wrapper{
            .col-12 {
                &:nth-child(odd) {
                    padding-right: 15px;
                }
                &:nth-child(even) {
                    padding-left: 15px;
                }
            }
        }
    }
}
