@font-face {
    font-family: 'Gloss And Bloom';
    src: url('../fonts/GlossAndBloom.eot');
    src: url('../fonts/GlossAndBloom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GlossAndBloom.woff2') format('woff2'),
        url('../fonts/GlossAndBloom.woff') format('woff'),
        url('../fonts/GlossAndBloom.ttf') format('truetype'),
        url('../fonts/GlossAndBloom.svg#GlossAndBloom') format('svg');
    font-weight: normal;
    font-style: normal;
}
