/* roots */
$pink1: #F732B5;
$pink2: #F8168C;
$white: #fff;
$black: #07041F;
$blue: blue;
$red: red;
$yellow: #F9FF2F;
$grey: #CBCBCB;
$main-padding: 30px;
$deco-line-height: 20px;
$dot: calc(var(--deco-line-height)*2);
$button-h: 80px;
$transition: 0.5s;
$vh: 1vh;
$font-poppins:'Poppins', sans-serif; 
$font-kanit: 'Kanit', sans-serif;
$font-glossandbloom: 'Gloss And Bloom', sans-serif;
$bold: bold;